body 
{
    background-color: #68b92c; 
} 

.fundo-principal
{
    background-color: black;
}

.f1
{
    font-family: 'Monoton', cursive;
}

.f2
{
    font-family: 'Raleway Dots', cursive; 
}

.f3
{
    font-family: 'Poppins', sans-serif;
}


#8B0000;